<table>
	<thead>
		<th>SN</th>
		<th>Region</th>
		<th>Status</th>
		<th>Dyanmic data column</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>USA,Ohio</td>
			<td>active</td>
			<td>
				<ng-container *ngFor="let item of data">
          {{item|objectValue}}
				</ng-container>
			</td>
		</tr>
	<tr>
			<td>2</td>
			<td>USA,Texas</td>
			<td>Inactive</td>
			<td>
				<ng-container *ngFor="let item of data">
          {{item|objectValue}}
				</ng-container>
			</td>
		</tr>

	</tbody>

</table>